@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("OpenSans"), local("OpenSans-Regular"), url("../fonts/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans-regular.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("OpenSans-SemiBold"), local("Open Sans SemiBold"), url("../fonts/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans-600.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
}

@media (max-width: 1080px) {
  body {
    font-size: 14px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 40px;
  margin: auto;
  max-width: 1440px;
}

.container--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container--between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--small {
  max-width: 1040px;
}

@media (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
}

.burger,
.burger::before,
.burger::after {
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.burger::before {
  content: '';
  top: -5px;
  background-color: #fff;
}

.burger::after {
  content: '';
  top: 5px;
  background-color: #fff;
}

main {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #fff;
}

.btn {
  position: relative;
  padding: 6px 25px;
  display: inline-block;
  font-size: 0.85em;
  color: #3d4248;
  text-align: center;
  border: 2px solid #3d4248;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--orange {
  color: #fa7e19;
  border-color: #fa7e19;
}

.btn--callback {
  padding: 10px 17px;
  color: #ff8c38;
  border-color: #f3997b;
}

.btn--callback svg {
  margin-right: 17px;
  fill: #fa7e19;
  vertical-align: middle;
}

.btn--callback:hover svg {
  fill: #fff;
}

.btn:hover {
  background-color: #fa7e19;
  border-color: #fa7e19;
  color: #fff;
}

.catalog-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: none;
}

.catalog-link .arrow {
  position: relative;
  margin-left: 15px;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.catalog-link .arrow::before {
  position: absolute;
  top: 5px;
  right: 7px;
  display: block;
  content: '';
  border: solid #fff;
  border-width: 0 3px 3px 0;
  padding: 3px;
  width: 3px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.catalog-link:hover .arrow,
.catalog-link:hover .arrow::before {
  border-color: #fa7e19;
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title h1 {
  font-size: 1.9em;
  font-weight: 600;
  text-align: center;
}

.title h2 {
  font-size: 1.85em;
  font-weight: 400;
}

.title__link {
  font-size: 0.75em;
  color: #878787;
  border-bottom: 1px dashed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title__link:hover {
  border-bottom-color: transparent;
}

.top {
  padding-top: 10px;
  background-color: #f0f0f0;
}

.top h1 {
  margin-bottom: 2.5%;
  font-size: 1.9em;
}

.breadcrumbs {
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item {
  margin: 0 10px;
}

.breadcrumbs__item:first-child {
  margin-left: 0;
}

.breadcrumbs__link {
  font-size: 0.75em;
  color: #878787;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.breadcrumbs__link:hover {
  color: #fa7e19;
}

.categories {
  padding-bottom: 30px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__item {
  margin-right: 45px;
  margin-bottom: 20px;
  width: 22%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #3d4248;
}

.categories__item:nth-child(4n+1) {
  background-color: #fa7e19;
}

.categories__item:nth-child(2n) {
  background-color: #b3aba4;
}

.categories__item:nth-child(4n) {
  margin-right: 0;
  background-color: #949495;
}

.categories__item:hover {
  background-color: #4c5056;
}

@media (max-width: 1210px) {
  .categories__item {
    margin-right: 30px;
  }
}

.categories__link {
  padding: 0 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  font-size: 1.15em;
  line-height: 1;
  color: #fff;
}

.categories__link span {
  display: block;
  max-width: 140px;
}

.filter {
  border-top: 1px solid #d2d2d2;
}

.filter__result {
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__result .result-nums {
  margin-right: 45px;
  font-size: 0.85em;
  color: #878787;
}

.filter__result .result-nums span {
  font-weight: 600;
}

.filter__btn {
  position: relative;
  padding: 3px 45px 3px 17px;
  color: #fff;
  border: 2px solid #3d4248;
  outline: none;
  cursor: pointer;
  border-color: #fa7e19;
  background-color: #fa7e19;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filter__btn::after {
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  content: '';
  border: solid #fff;
  border-width: 0 3px 3px 0;
  padding: 3px;
  width: 3px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.filter__btn:hover, .filter__btn.active {
  color: #fff;
  background-color: #3d4248;
  border-color: #3d4248;
}

.filter__btn.active::after {
  top: 13px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.filter__btn.active:hover {
  opacity: 0.9;
}

@media (max-width: 1080px) {
  .filter__btn {
    padding-right: 33px !important;
  }
}

.filter__wrapper {
  padding: 30px 0 8px 0;
  background-color: #cccccc;
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__item {
  margin-bottom: 32px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__name {
  margin-right: 25px;
  width: 100px;
  font-size: 0.75em;
  line-height: 1;
  color: #fff;
  text-align: right;
}

@media (max-width: 980px) {
  .logo {
    width: 120px;
  }
}

.header__top {
  background-color: #3d4248;
}

.header__bottom {
  padding: 24px 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-menu__item {
  margin-left: 40px;
}

.top-menu__link {
  padding: 8px 0;
  display: block;
  color: #dcdcdc;
  font-size: 0.75em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.top-menu__link:hover {
  color: #fa7e19;
}

.main-menu__mobile {
  display: none;
}

@media (max-width: 900px) {
  .main-menu__mobile {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #878787;
  }
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .main-menu__list {
    display: none;
  }
}

.main-menu__link {
  padding: 5px 20px;
  display: block;
  color: #333333;
}

.main-menu__link:hover {
  color: #fa7e19;
}

.main-menu__link--catalog {
  position: relative;
  padding-right: 43px;
  color: #fff;
  background-color: #fa7e19;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main-menu__link--catalog .burger {
  top: 15px;
  right: 15px;
}

.main-menu__link--catalog:hover {
  color: #fff;
  background-color: #3d4248;
}

@media (max-width: 1080px) {
  .main-menu__link--catalog {
    padding-right: 33px !important;
  }
}

@media (max-width: 1080px) {
  .main-menu__link {
    padding: 5px 15px;
  }
}

.h-contacts {
  margin-left: 90px;
}

.h-contacts__phone {
  position: relative;
  padding-right: 40px;
  font-size: 1.5em;
  color: #333333;
}

.h-contacts__phone svg {
  position: absolute;
  right: 0;
  top: 8px;
  fill: #ff8c38;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.h-contacts__phone:hover {
  opacity: 0.8;
}

.h-contacts__phone:hover svg {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.h-contacts__txt {
  padding-left: 30px;
  font-size: 0.6em;
  color: #333333;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .h-contacts {
    margin-left: 20px;
  }
}

.slider {
  background-color: #e8e8e8;
}

.slider__item {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 980px) {
  .slider__item {
    height: 300px;
  }
}

.slider__descr {
  max-width: 460px;
}

.slider__title {
  margin-bottom: 10px;
  font-size: 2.65em;
  font-weight: 600;
}

.slider__txt {
  margin-bottom: 25px;
  font-size: 1.13em;
}

.main-catalog {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #e8e8e8;
}

.main-catalog .btn {
  display: block;
  max-width: 150px;
  margin: auto;
}

.grid {
  margin-bottom: 1%;
}

.grid__sizer {
  width: 23%;
}

.grid__gutter {
  width: 2%;
}

.grid__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 23%;
  height: 205px;
  float: left;
  margin-bottom: 25px;
  background-color: #fa7e19;
  text-transform: uppercase;
  border: 1px solid #ccc;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.grid__item a {
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.grid__item a:hover {
  color: #fa7e19;
}

.grid__item--big {
  width: 47%;
}

@media (max-width: 1320px) {
  .grid__item--big .grid__img {
    width: 60%;
  }
}

.grid__item--height {
  height: 300px;
}

.grid__item--height:not(.grid__item--big) .grid__img {
  width: 80%;
}

@media (max-width: 1080px) {
  .grid__item--height {
    height: 250px;
  }
}

.grid__item:not(.grid__item--big) .catalog-link {
  margin-left: auto;
}

.grid__item:nth-of-type(7) {
  background-color: #b3aba4;
}

.grid__item:nth-of-type(6) {
  background-color: #949495;
}

.grid__item:nth-of-type(5) {
  background-color: #bebebe;
}

.grid__item:nth-of-type(4) {
  background-color: #b3aba4;
}

.grid__item:nth-of-type(8) {
  background-color: #3d4248;
}

.grid__item:hover {
  background-color: #4c5056;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid__item:hover .grid__title {
  margin-top: 0;
}

.grid__item:hover .grid__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid__item:hover:not(.grid__item--big) .grid__img {
  opacity: 0;
  pointer-events: none;
}

.grid__sub {
  margin-top: 5%;
  max-width: 280px;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid__sub-link {
  margin-bottom: 15px;
  display: block;
  font-size: 0.85em;
  text-transform: none;
}

.grid__sub .catalog-link {
  margin-top: auto;
}

.grid__img {
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.grid__img--right {
  top: 10px;
  right: -20px;
}

.grid__img--top {
  top: 0px;
  right: 20px;
}

.grid__img--center {
  top: 35px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (max-width: 1180px) {
  .grid__img {
    width: 90%;
  }
}

.grid__title {
  margin: auto 0 0 0;
  font-size: 1.25em;
  line-height: 1.3;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid__title a {
  display: block;
}

.grid__title span {
  display: block;
  font-size: 0.75em;
}

@media (max-width: 1080px) {
  .grid__title {
    font-size: 1.05em;
  }
}

.grid::after {
  content: '';
  display: block;
  clear: both;
}

.main-products {
  padding: 70px 0 40px 0;
  background-color: #fff;
  border-top: 1px solid #d2d2d2;
}

.main-products .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3%;
}

.main-products .title__link {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
}

.products {
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__item {
  padding: 0 20px;
  width: 20%;
}

.products__wrapper {
  padding: 0 5px 35px 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.products__wrapper:hover {
  background-color: #f0f0f0;
}

.products__wrapper:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.products__link {
  min-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__link img {
  margin-top: 20%;
  height: 150px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.products__title {
  margin-top: 20%;
  max-width: 272px;
  font-size: 0.85em;
  font-weight: 400;
  text-align: center;
}

.products__title span {
  display: block;
  font-weight: 600;
}

.advantages {
  padding: 50px 0 20px 0;
  background-color: #f0f0f0;
  border-top: 1px solid #d2d2d2;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__link {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 160px;
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.advantages__link--partner {
  background-image: url(../img/partners.jpg);
}

.advantages__link--service {
  background-image: url(../img/service.jpg);
}

.advantages__link--soft {
  background-image: url(../img/soft.jpg);
}

.advantages__link span {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -20px;
  max-width: 150px;
}

.advantages__link:hover {
  opacity: 0.8;
}

.news {
  padding: 20px 0 25px 0;
  background-color: #f0f0f0;
}

.news .title {
  padding-left: 35px;
  padding-right: 25px;
  margin-bottom: 2%;
}

.news .title__link {
  margin-left: auto;
}

.news__wrapper {
  padding-top: 30px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item {
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 1px solid #bfbfbf;
}

.news__item:last-child .news__txt {
  border-right: 0;
}

.news__link {
  display: block;
  color: #333333;
}

.news__link:hover .news__img::after {
  background-color: transparent;
}

.news__txt {
  padding: 30px 25px 50px 35px;
  border-right: 1px solid #bfbfbf;
}

.news__img {
  position: relative;
  height: 150px;
}

.news__img img {
  height: 100%;
}

.news__img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news__date {
  margin-bottom: 10px;
  display: block;
  font-size: 0.75em;
  color: #acacac;
}

.news__title {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
}

.main-text {
  padding: 20px 0 45px 0;
  background-color: #f0f0f0;
}

.main-text p {
  margin-bottom: 10px;
  font-size: 0.85em;
  line-height: 1.35;
}

.contact-us {
  padding: 19px 19px 19px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fa7e19;
}

.contact-us .btn {
  margin-left: auto;
}

.contact-us__txt {
  font-size: 1.1em;
  font-weight: 600;
}

.contact-us__small {
  margin-left: auto;
  font-size: 0.85em;
}

.contact-us__small a {
  color: #333333;
}

.contact-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us__item {
  margin-left: 33px;
}

.contact-us__link svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-us__link:hover svg {
  fill: #fa7e19;
}

/* FOOTER PART */
.footer {
  padding: 40px 0;
  background-color: #3d4248;
}

.footer__left, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 0.75em;
  line-height: 1.25;
  color: #eeeeee;
}

.social {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-left: 25px;
}

.social__link svg {
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__link:hover svg {
  fill: #fa7e19;
}
/*# sourceMappingURL=style.css.map */