@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('OpenSans'), local('OpenSans-Regular'),
    url('../fonts/open-sans-regular.woff2') format('woff2'),
    url('../fonts/open-sans-regular.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('OpenSans-SemiBold'), local('Open Sans SemiBold'),
    url('../fonts/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans-600.woff') format('woff')
}

html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;  
    font-weight: 400;  
    line-height: 1.5;  
    color: #333333;  

    @media (max-width: 1080px) {
        font-size: 14px;
    }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    padding: 0 40px;
    margin: auto;
    max-width: 1440px;

    &--right {
        display: flex;
        justify-content: flex-end;
    }

    &--between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--small {
        max-width: 1040px;
    }

    @media (max-width: 900px) {
        padding: 0 20px;
    }
}

.burger,
.burger::before,
.burger::after {
    position: absolute;       
    display: block;
    width: 12px;
    height: 2px;    
    transition: 0.3s;
    background-color: #fff;
}

.burger::before {
    content: '';
    top: -5px;
    background-color: #fff;
}

.burger::after {
    content: '';
    top: 5px;
    background-color: #fff;
}


// span::before {
//     top: 0;
//     transform: rotate(45deg);
// }
// span::after {
//     top: 0;
//     transform: rotate(145deg);
// }


main {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #fff;
}

.btn {
    position: relative;
    padding: 6px 25px;
    display: inline-block;     
    font-size: 0.85em;
    color: #3d4248;   
    text-align: center; 
    border: 2px solid #3d4248;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    &--orange {
        color: #fa7e19;
        border-color: #fa7e19;        
    }  

    &--center {
        display: block;
        max-width: 150px;
        margin: auto;
    }

    &--callback {
        padding: 10px 17px;
        color: #ff8c38;
        border-color: #f3997b;

        svg {
            margin-right: 17px;
            fill: #fa7e19;    
            vertical-align: middle;       
        }

        &:hover {
            svg {
                fill: #fff;
            }
        }
    }

    &:hover {
        background-color: #fa7e19;
        border-color: #fa7e19;
        color: #fff;
    }
}

.catalog-link {
    position: relative;
    display: flex;
    text-transform: none;

    .arrow {
        position: relative;
        margin-left: 15px;
        display: block;        
        width: 24px;
        height: 24px;
        border: 2px solid #fff;
        transition: 0.2s;

        &::before {
            position: absolute;
            top: 5px;
            right: 7px;
            display: block;            
            content: '';
            border: solid #fff;
            border-width: 0 3px 3px 0;        
            padding: 3px;
            width: 3px;
            height: 3px;
            transform: rotate(-45deg);
            transition: 0.2s;
        }
    }    

    &:hover {
        .arrow,
        .arrow::before {
            border-color: #fa7e19;
        }
    }
    
}

.title {
    position: relative;
    display: flex;
    align-items: center;

    h1 {
        font-size: 1.9em;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        font-size: 1.85em;
        font-weight: 400;
    }

    &__link {       
        font-size: 0.75em;
        color: #878787;
        border-bottom: 1px dashed;
        transition: 0.3s;

        &:hover {
            border-bottom-color: transparent;
        }
    }
}

.top {
    padding-top: 10px;
    background-color: #f0f0f0;   

    h1 {
        padding-bottom: 2.5%;
        font-size: 1.9em;
    }
}

.breadcrumbs {
    margin-bottom: 3%;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__item {
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__link {        
        font-size: 0.75em;
        color: #878787;
        transition: 0.3s;

        &:hover {
            color: #fa7e19;
        }
    }
}

.categories {   
    padding-bottom: 30px!important; 
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-right: 45px;
        margin-bottom: 20px;
        width: 22%;                  
        transition: 0.3s;
        background-color: #3d4248;

        &:nth-child(4n+1) {
            background-color: #fa7e19; 
        }        

        &:nth-child(2n) {
            background-color: #b3aba4; 
        }        

        &:nth-child(4n) {
            margin-right: 0;
            background-color: #949495; 
        }

        &:hover {
            background-color: #4c5056;
        }

        @media (max-width: 1210px){
            margin-right: 30px;
        }
    }

    &__link {
        padding: 0 1.25em;
        display: flex;
        align-items: center;        
        height: 90px;
        font-size: 1.15em;
        line-height: 1;
        color: #fff;       

        span {
            display: block;
            max-width: 140px;
        }
               
    }
}

.filter {
    border-top: 1px solid #d2d2d2;

    &__result {
        padding: 12px 0;
        display: flex;
        align-items: center;

        .result-nums {
            margin-right: 45px;
            font-size: 0.85em;
            color: #878787;

            span {
                font-weight: 600;
            }
        }
    }

    &__btn {        
        position: relative;
        padding: 3px 45px 3px 17px;        
        color: #fff;
        border: 2px solid #3d4248;
        outline: none;        
        cursor: pointer;
        border-color: #fa7e19;
        background-color: #fa7e19;
        transition: 0.3s;

        &::after {
            position: absolute;
            top: 10px;
            right: 20px;
            display: block;
            content: '';
            border: solid #fff;
            border-width: 0 3px 3px 0;
            padding: 3px;
            width: 3px;
            height: 3px;            
            transform: rotate(45deg);            
            transition: 0.2s;
        }

        &:hover, &.active {
            color: #fff;
            background-color: #3d4248;
            border-color: #3d4248;
        }

        &.active {

            &::after {
                top: 13px;
                transform: rotate(-135deg);
            }

            &:hover {
                opacity: 0.9;
            }
        }

        @media (max-width: 1080px) {
            padding-right: 33px!important;
        }
    }

    &__wrapper {
        padding: 30px 0 5px 0;
        background-color: #cccccc;        
        border-bottom: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 32px;
        width: 33%;
        display: flex;
        align-items: center;
    }

    &__name {
        margin-right: 25px;        
        width: 100px;
        font-size: 0.75em;
        line-height: 1;
        color: #fff;
        text-align: right;
    }

    &__apply {
        padding: 15px 40px;
        margin: auto;
        max-width: 1440px;  
        display: flex;
        align-items: center; 
        font-size: 0.75em;
        color: #878787;           
        
        &-link {
            padding: 5px 15px;
            margin-right: 5px;
            display: block;
            background-color: #cccccc;
            color: #fff;
            font-size: 0.75em;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.9;
            }
        }

        p {
            margin-right: 45px;
        }

        .reset {
            margin-left: 20px;
            background: transparent;
            color: #878787;
            outline: none;
            border: 0;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    
        @media (max-width: 900px) {
            padding: 0 20px;
        }
    }
}

.vision {
    padding: 2em 0 2.5em 0;
    border-top: 1px solid #d2d2d2;
}


.logo {

    @media (max-width: 980px) {
        width: 120px;
    }
}

.header {

    &__top {
        background-color: #3d4248;
    }

    &__bottom {
        padding: 24px 0;        
    }

    &__right {
        display: flex;
        align-items: center;
    }
}

.top-menu {
    display: flex;

    &__item {
        margin-left: 40px;
    }

    &__link {
        padding: 8px 0;
        display: block;
        color: #dcdcdc;
        font-size: 0.75em;        
        transition: color 0.3s;

        &:hover {
            color: #fa7e19;
        }
    }
}

.main-menu {

    &__mobile {
        display: none;

        @media (max-width: 900px) {
            display: block;
            width: 50px;
            height: 50px;
            background-color: #878787;
        }
    }

    &__list {
        display: flex;

        @media (max-width: 900px) {
            display: none;
        }
    }

    &__link {
        padding: 5px 20px;
        display: block;
        color: #333333;

        &:hover {
            color: #fa7e19;
        }

        &--catalog {
            position: relative;
            padding-right: 43px;
            color: #fff;
            background-color: #fa7e19;
            transition: background-color 0.3s;

            .burger {
                top: 15px; 
                right: 15px;
            }

            &:hover {
                color: #fff;
                background-color: #3d4248;
            }

            @media (max-width: 1080px) {
                padding-right: 33px!important;
            }
        }

        @media (max-width: 1080px) {
            padding: 5px 15px;
        }
    }
}


.h-contacts {
    margin-left: 90px;

    &__phone {
        position: relative;        
        padding-right: 40px;
        font-size: 1.5em;
        color: #333333;        

        svg {
            position: absolute;
            right: 0;
            top: 8px;    
            fill: #ff8c38;        
            transition: 0.3s;
        }

        &:hover  {
            opacity: 0.8;

            svg {
                transform: rotate(15deg);
            }            
        }
    }

    &__txt {
        padding-left: 30px;
        font-size: 0.6em;
        color: #333333;
        text-transform: uppercase;
    }

    @media (max-width: 1200px) {
        margin-left: 20px;
    }
}

.slider {
    background-color: #e8e8e8;    

    &__item {
        height: 400px;        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: 100%;

        @media (max-width: 980px) {
            height: 300px;
        }
    }

    &__descr {       
        max-width: 460px;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 2.65em;
        font-weight: 600;
    }

    &__txt {
        margin-bottom: 25px;
        font-size: 1.13em;
    }
}

.main-catalog {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #e8e8e8;   
}

.catalog {
    padding: 2.5em 0;
    border-top: 1px solid #d2d2d2;
    background-color: #f0f0f0; 

    .grid {

        &__item {
            margin-right: 35px;
            width: 23%;
            height: 303px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

.grid {   
    margin-bottom: 1%; 

    &__sizer {
       width: 23%;
    }

    &__gutter {
        width: 2%;
    }

    &__item {
        position: relative;        
        display: flex;  
        width: 23%;       
        height: 205px;      
        padding: 20px;        
        float: left;
        margin-bottom: 25px;        
        background-color: #fa7e19;              
        text-transform: uppercase; 
        border: 1px solid #ccc;  
        transition: background-color 0.3s;
        
        a {
            color: #fff;
            transition: color 0.2s;

            &:hover {
                color: #fa7e19;
            }
        }

        &--big {
            width: 47%; 
            
            .grid__img {
                
                @media (max-width: 1320px) {
                    width: 60%;
                }
            }
        }

        &--height {
            height: 300px;
            
            &:not(.grid__item--big) .grid__img {
                width: 80%;
            }

            @media (max-width: 1080px) {
                height: 250px;
            }
        }

        &:not(.grid__item--big) .catalog-link {
            margin-left: auto;
        }

        &:nth-of-type(7) {
            background-color: #b3aba4;
        }

        &:nth-of-type(6) {
            background-color: #949495;
        }

        &:nth-of-type(5) {
            background-color: #bebebe;
        }

        &:nth-of-type(4) {
            background-color: #b3aba4;
        }        

        &:nth-of-type(8) {
            background-color: #3d4248;
        }

        &:hover {
            background-color: #4c5056;
            flex-direction: column;

            .grid__title {
                margin-top: 0;
            }    
            
            .grid__sub {
                display: flex;
            }

            &:not(.grid__item--big) .grid__img {
                opacity: 0;
                pointer-events: none;
            }            
        }
    }

    &__sub {
        margin-top: 5%;
        max-width: 280px;
        height: 100%;
        display: none;
        flex-direction: column;
        
        &-link {
            padding: 10px 30px 10px 0;
            display: inline-block;
            font-size: 0.85em;
            text-transform: none;
        }

        .catalog-link {
            margin-top: auto;            
        }
    }

    &__img {
        position: absolute;
        transition: 0.2s;        

        &--right {
            top: 10px;
            right: -20px;
        }

        &--top {
            top: 0px; 
            right: 20px;           
        }

        &--center {
            top: 35px;
            right: 50%;
            transform: translateX(50%);
        }

        @media (max-width: 1180px) {
            width: 90%;
        }
    }

    &__title {
        margin: auto 0 0 0;
        //margin-top: auto;    
        font-size: 1.25em;
        line-height: 1.3;
        font-weight: 400;
        transition: all 0.3s;

        a {
            display: block;            
        }

        span {
            display: block;
            font-size: 0.75em;
        }

        @media (max-width: 1080px) {
            font-size: 1.05em;
        }
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}


.main-products {
    padding: 70px 0 40px 0;    
    background-color: #fff;
    border-top: 1px solid #d2d2d2;

    .title {
        justify-content: center;
        margin-bottom: 3%;

        &__link {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -10px;
        }
    }

    .products {
        margin-bottom: 2%;
    }
}

.products {    
    display: flex;
    flex-wrap: wrap;

    &__item {
        padding: 0 20px;  
        width: 20%;              
    }

    &__wrapper {
        padding: 0 5px 25px 5px;
        transition: background-color 0.2s;        

        &:hover {
            background-color: #f0f0f0;

            img {
                transform: scale(1.03);
            }
        }
        
        &--vision {
            padding: 0 5px 15px 5px;

            &:hover {
                background-color: #fff;
            }

            .products__link {
                min-height: auto;
            }

            .products__title {
                margin-top: 10%;
            }

            img {                
                height: 130px!important;
            }
        }
    }

    &__link {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        color: #333333;
        align-items: center;

        img {
            margin-top: 20%;
            height: 150px;
            transition: transform 0.2s;
        }
    }

    &__title {
        margin-top: 26%;
        max-width: 272px;
        font-size: 0.85em;
        font-weight: 400;
        text-align: center;

        span {
            display: block;
            font-weight: 600;
        }
    }
}

.advantages {
    padding: 50px 0 20px 0;
    background-color: #f0f0f0;
    border-top: 1px solid #d2d2d2;

    &__wrapper {
        display: flex;
    }

    &__link {
        position: relative;
        display: block;
        flex: 1;
        min-height: 160px;
        font-size: 1.1em;
        //font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-position: center;        
        transition: all 0.2s;

        &--partner {
            background-image: url(../img/partners.jpg);
        }

        &--service {
            background-image: url(../img/service.jpg);
        }

        &--soft {
            background-image: url(../img/soft.jpg);
        }

        span {
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -20px;
            max-width: 150px;
        }

        &:hover {         
            opacity: 0.8;
        }
    }
}

.news {
    padding: 20px 0 25px 0;
    background-color: #f0f0f0;

    .title {
        padding-left: 35px;
        padding-right: 25px;
        margin-bottom: 2%;
        
        &__link {
            margin-left: auto;
        }
    }

    &__wrapper {
        padding-top: 30px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
    }

    &__list {
        display: flex;
    }

    &__item {
        max-width: 350px;
        flex: 1;        
        border-top: 1px solid #bfbfbf;
        
        &:last-child {
            .news__txt {
                border-right: 0;
            }
        }
    }

    &__link {
        display: block;
        color: #333333;        

        &:hover {

            .news__img::after {
                background-color: transparent;
            }
        }
    }

    &__txt {
        padding: 30px 25px 50px 35px;          
        border-right: 1px solid #bfbfbf;     
    }

    &__img {
        position: relative;        
        height: 150px;
        
        img {
            height: 100%;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }
    }

    &__date {
        margin-bottom: 10px;
        display: block;
        font-size: 0.75em;
        color: #acacac;
    }

    &__title {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2;
    }
}

.main-text {
    padding: 20px 0 45px 0;
    background-color: #f0f0f0;

    p {
        margin-bottom: 10px;
        font-size: 0.85em;
        line-height: 1.35;
    }
    
}

.contact-us {
    padding: 19px 19px 19px 32px;
    margin-top: 4%;
    display: flex;
    align-items: center;    
    border: 2px solid #fa7e19;

    .btn {
        margin-left: auto;
    }

    &__txt {
       font-size: 1.1em;
       font-weight: 600; 
    }

    &__small {
        margin-left: auto;
        font-size: 0.85em;

        a {
            color: #333333;
        }
    }

    &__list {
        display: flex; 
    }

    &__item {
        margin-left: 33px;
    }

    &__link {
        
        svg {
            transition: 0.3s;
        }

        &:hover {

            svg {
                fill: #fa7e19;
            }
        }
    }
}


/* FOOTER PART */

.footer {
    padding: 40px 0;
    background-color: #3d4248;    

    &__left,
    &__right {
        display: flex; 
        align-items: center;       
    }
    
}

.copyright {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 0.75em;
    line-height: 1.25;
    color: #eeeeee;
}

.social {
    margin-right: 60px;
    display: flex;

    &__item {
        margin-left: 25px;
    }

    &__link {

        svg {
            fill: #fff;
            transition: 0.3s;
        }

        &:hover {
            svg {
                fill: #fa7e19;
            }
        }
    }
}