@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("OpenSans"), local("OpenSans-Regular"), url("../fonts/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans-regular.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("OpenSans-SemiBold"), local("Open Sans SemiBold"), url("../fonts/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans-600.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
}

.container {
  padding: 0 40px;
  margin: auto;
  max-width: 1440px;
}

.container--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container--between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
}

.burger,
.burger::before,
.burger::after {
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.burger::before {
  content: '';
  top: -5px;
  background-color: #fff;
}

.burger::after {
  content: '';
  top: 5px;
  background-color: #fff;
}

.btn {
  position: relative;
  padding: 10px 17px;
  display: inline-block;
  font-size: 0.85em;
  color: #3d4248;
  text-align: center;
  border: 2px solid #3d4248;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--callback {
  color: #ff8c38;
  border-color: #f3997b;
}

.btn--callback svg {
  margin-right: 17px;
  fill: #fa7e19;
  vertical-align: middle;
}

.btn--callback:hover {
  color: #fff;
  background-color: #fa7e19;
}

.btn--callback:hover svg {
  fill: #fff;
}

.title {
  position: relative;
  margin-bottom: 3%;
}

.title h1 {
  font-size: 1.85em;
  font-weight: 600;
  text-align: center;
}

.title__link {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  font-size: 0.75em;
  color: #878787;
  border-bottom: 1px dashed;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title__link:hover {
  border-bottom-color: transparent;
}

.header__top {
  background-color: #3d4248;
}

.header__bottom {
  padding: 24px 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-menu__item {
  margin-left: 40px;
}

.top-menu__link {
  padding: 8px 0;
  display: block;
  color: #dcdcdc;
  font-size: 0.75em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.top-menu__link:hover {
  color: #fa7e19;
}

.main-menu__mobile {
  display: none;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__link {
  padding: 5px 20px;
  display: block;
  color: #333333;
}

.main-menu__link:hover {
  color: #fa7e19;
}

.main-menu__link--catalog {
  position: relative;
  padding-right: 43px;
  color: #fff;
  background-color: #fa7e19;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main-menu__link--catalog .burger {
  top: 15px;
  right: 15px;
}

.main-menu__link--catalog:hover {
  color: #fff;
  background-color: #3d4248;
}

.h-contacts {
  margin-left: 90px;
}

.h-contacts__phone {
  position: relative;
  padding-right: 40px;
  font-size: 1.5em;
  color: #333333;
}

.h-contacts__phone svg {
  position: absolute;
  right: 0;
  top: 8px;
  fill: #ff8c38;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.h-contacts__phone:hover {
  opacity: 0.8;
}

.h-contacts__phone:hover svg {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.h-contacts__txt {
  padding-left: 30px;
  font-size: 0.6em;
  color: #333333;
  text-transform: uppercase;
}

.main-products {
  padding: 70px 0 40px 0;
  background-color: #fff;
  border-top: 1px solid #d2d2d2;
}

.items-carousel {
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-carousel__item {
  padding: 0 20px;
  width: 295px;
  max-width: 295px;
}

.items-carousel__wrapper {
  padding: 0 5px 35px 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.items-carousel__wrapper:hover {
  background-color: #f0f0f0;
}

.items-carousel__wrapper:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.items-carousel__link {
  min-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-carousel__link img {
  margin-top: auto;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.items-carousel__title {
  margin-top: auto;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.items-carousel__title span {
  display: block;
  font-weight: 600;
}

.contact-us {
  padding: 19px 19px 19px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fa7e19;
}

.contact-us .btn {
  margin-left: auto;
}

.contact-us__txt {
  font-size: 1.1em;
  font-weight: 600;
}

.contact-us__small {
  margin-left: 10%;
  font-size: 0.85em;
}

.contact-us__small a {
  color: #333333;
}

.contact-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us__item {
  margin-left: 33px;
}

.contact-us__link svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-us__link:hover svg {
  fill: #fa7e19;
}

/* FOOTER PART */
.footer {
  padding: 40px 0;
  background-color: #3d4248;
  border-top: 1px solid #fff;
}

.footer__left, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 0.75em;
  line-height: 1.25;
  color: #eeeeee;
}

.social {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-left: 25px;
}

.social__link svg {
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__link:hover svg {
  fill: #fa7e19;
}
/*# sourceMappingURL=style.css.map */