@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('OpenSans'), local('OpenSans-Regular'),
    url('../fonts/open-sans-regular.woff2') format('woff2'),
    url('../fonts/open-sans-regular.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('OpenSans-SemiBold'), local('Open Sans SemiBold'),
    url('../fonts/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans-600.woff') format('woff')
}

html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;  
    font-weight: 400;  
    line-height: 1.5;  
    color: #333333;  
}

.container {
    padding: 0 40px;
    margin: auto;
    max-width: 1440px;

    &--right {
        display: flex;
        justify-content: flex-end;
    }

    &--between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 900px) {
        padding: 0 20px;
    }
}

.burger,
.burger::before,
.burger::after {
    position: absolute;       
    display: block;
    width: 12px;
    height: 2px;    
    transition: 0.3s;
    background-color: #fff;
}

.burger::before {
    content: '';
    top: -5px;
    background-color: #fff;
}

.burger::after {
    content: '';
    top: 5px;
    background-color: #fff;
}


// span::before {
//     top: 0;
//     transform: rotate(45deg);
// }
// span::after {
//     top: 0;
//     transform: rotate(145deg);
// }




.btn {
    position: relative;
    padding: 10px 17px;
    display: inline-block;     
    font-size: 0.85em;
    color: #3d4248;   
    text-align: center; 
    border: 2px solid #3d4248;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    &--callback {
        color: #ff8c38;
        border-color: #f3997b;

        svg {
            margin-right: 17px;
            fill: #fa7e19;    
            vertical-align: middle;       
        }

        &:hover {
            color: #fff;
            background-color: #fa7e19;

            svg {
                fill: #fff;
            }
        }
    }
}

.title {
    position: relative;
    margin-bottom: 3%;

    h1 {
        font-size: 1.85em;
        font-weight: 600;
        text-align: center;
    }

    &__link {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -10px;
        font-size: 0.75em;
        color: #878787;
        border-bottom: 1px dashed;
        transition: 0.3s;

        &:hover {
            border-bottom-color: transparent;
        }
    }
}



.header {

    &__top {
        background-color: #3d4248;
    }

    &__bottom {
        padding: 24px 0;        
    }

    &__right {
        display: flex;
        align-items: center;
    }
}

.top-menu {
    display: flex;

    &__item {
        margin-left: 40px;
    }

    &__link {
        padding: 8px 0;
        display: block;
        color: #dcdcdc;
        font-size: 0.75em;        
        transition: color 0.3s;

        &:hover {
            color: #fa7e19;
        }
    }
}

.main-menu {

    &__mobile {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__link {
        padding: 5px 20px;
        display: block;
        color: #333333;

        &:hover {
            color: #fa7e19;
        }

        &--catalog {
            position: relative;
            padding-right: 43px;
            color: #fff;
            background-color: #fa7e19;
            transition: background-color 0.3s;

            .burger {
                top: 15px; 
                right: 15px;
            }

            &:hover {
                color: #fff;
                background-color: #3d4248;
            }
        }
    }
}


.h-contacts {
    margin-left: 90px;

    &__phone {
        position: relative;        
        padding-right: 40px;
        font-size: 1.5em;
        color: #333333;        

        svg {
            position: absolute;
            right: 0;
            top: 8px;    
            fill: #ff8c38;        
            transition: 0.3s;
        }

        &:hover  {
            opacity: 0.8;

            svg {
                transform: rotate(15deg);
            }            
        }
    }

    &__txt {
        padding-left: 30px;
        font-size: 0.6em;
        color: #333333;
        text-transform: uppercase;
    }
}


.main-products {
    padding: 70px 0 40px 0;    
    background-color: #fff;
    border-top: 1px solid #d2d2d2;
}

.items-carousel {
    margin-bottom: 2%;
    display: flex;

    &__item {
        padding: 0 20px;  
        width: 295px;
        max-width: 295px;      
    }

    &__wrapper {
        padding: 0 5px 35px 5px;
        transition: background-color 0.2s;        

        &:hover {
            background-color: #f0f0f0;

            img {
                transform: scale(1.1);
            }
        }
    }

    &__link {
        min-height: 315px;
        display: flex;
        flex-direction: column;
        color: #333333;
        align-items: center;

        img {
            margin-top: auto;
            transition: transform 0.2s;
        }
    }

    &__title {
        margin-top: auto;
        font-size: 14px;
        font-weight: 400;
        text-align: center;

        span {
            display: block;
            font-weight: 600;
        }
    }
}

.contact-us {
    padding: 19px 19px 19px 32px;
    display: flex;
    align-items: center;    
    border: 2px solid #fa7e19;

    .btn {
        margin-left: auto;
    }

    &__txt {
       font-size: 1.1em;
       font-weight: 600; 
    }

    &__small {
        margin-left: 10%;
        font-size: 0.85em;

        a {
            color: #333333;
        }
    }

    &__list {
        display: flex; 
    }

    &__item {
        margin-left: 33px;
    }

    &__link {
        
        svg {
            transition: 0.3s;
        }

        &:hover {

            svg {
                fill: #fa7e19;
            }
        }
    }
}


/* FOOTER PART */

.footer {
    padding: 40px 0;
    background-color: #3d4248;
    border-top: 1px solid #fff;

    &__left,
    &__right {
        display: flex; 
        align-items: center;       
    }
    
}

.copyright {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 0.75em;
    line-height: 1.25;
    color: #eeeeee;
}

.social {
    margin-right: 60px;
    display: flex;

    &__item {
        margin-left: 25px;
    }

    &__link {

        svg {
            fill: #fff;
            transition: 0.3s;
        }

        &:hover {
            svg {
                fill: #fa7e19;
            }
        }
    }
}