@charset "UTF-8";

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('OpenSans'), local('OpenSans-Regular'),
    url('../fonts/open-sans-regular.woff2') format('woff2'),
    url('../fonts/open-sans-regular.woff') format('woff')
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local('OpenSans-SemiBold'), local('Open Sans SemiBold'),
    url('../fonts/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans-600.woff') format('woff')
}

html {box-sizing: border-box;}

*, *::before, *::after {box-sizing: inherit;}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {    
    text-decoration: none;    
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;  
    font-weight: 400;  
    line-height: 1.5;  
    color: #333333;  
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    padding: 0 40px;
    margin: auto;
    max-width: 1440px;

    &--right {
        display: flex;
        justify-content: flex-end;
    }

    &--between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--small {
        max-width: 1040px;
    }

    @media (max-width: 900px) {
        padding: 0 20px;
    }
}

.burger,
.burger::before,
.burger::after {
    position: absolute;       
    display: block;
    width: 12px;
    height: 2px;    
    transition: 0.3s;
    background-color: #fff;
}

.burger::before {
    content: '';
    top: -5px;
    background-color: #fff;
}

.burger::after {
    content: '';
    top: 5px;
    background-color: #fff;
}


// span::before {
//     top: 0;
//     transform: rotate(45deg);
// }
// span::after {
//     top: 0;
//     transform: rotate(145deg);
// }




.btn {
    position: relative;
    padding: 6px 25px;
    display: inline-block;     
    font-size: 0.85em;
    color: #3d4248;   
    text-align: center; 
    border: 2px solid #3d4248;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    &--orange {
        color: #fa7e19;
        border-color: #fa7e19;

        &:hover {
            background-color: #fa7e19;
            color: #fff;
        }
    }

    &--callback {
        padding: 10px 17px;
        color: #ff8c38;
        border-color: #f3997b;

        svg {
            margin-right: 17px;
            fill: #fa7e19;    
            vertical-align: middle;       
        }

        &:hover {
            color: #fff;
            background-color: #fa7e19;

            svg {
                fill: #fff;
            }
        }
    }
}

.title {
    position: relative;
    display: flex;
    align-items: center;

    h1 {
        font-size: 1.85em;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        font-size: 1.85em;
        font-weight: 400;
    }

    &__link {       
        font-size: 0.75em;
        color: #878787;
        border-bottom: 1px dashed;
        transition: 0.3s;

        &:hover {
            border-bottom-color: transparent;
        }
    }
}



.header {

    &__top {
        background-color: #3d4248;
    }

    &__bottom {
        padding: 24px 0;        
    }

    &__right {
        display: flex;
        align-items: center;
    }
}

.top-menu {
    display: flex;

    &__item {
        margin-left: 40px;
    }

    &__link {
        padding: 8px 0;
        display: block;
        color: #dcdcdc;
        font-size: 0.75em;        
        transition: color 0.3s;

        &:hover {
            color: #fa7e19;
        }
    }
}

.main-menu {

    &__mobile {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__link {
        padding: 5px 20px;
        display: block;
        color: #333333;

        &:hover {
            color: #fa7e19;
        }

        &--catalog {
            position: relative;
            padding-right: 43px;
            color: #fff;
            background-color: #fa7e19;
            transition: background-color 0.3s;

            .burger {
                top: 15px; 
                right: 15px;
            }

            &:hover {
                color: #fff;
                background-color: #3d4248;
            }
        }
    }
}


.h-contacts {
    margin-left: 90px;

    &__phone {
        position: relative;        
        padding-right: 40px;
        font-size: 1.5em;
        color: #333333;        

        svg {
            position: absolute;
            right: 0;
            top: 8px;    
            fill: #ff8c38;        
            transition: 0.3s;
        }

        &:hover  {
            opacity: 0.8;

            svg {
                transform: rotate(15deg);
            }            
        }
    }

    &__txt {
        padding-left: 30px;
        font-size: 0.6em;
        color: #333333;
        text-transform: uppercase;
    }
}

.slider {
    background-color: #e8e8e8;
    border-top: 1px solid #d2d2d2;

    &__item {
        height: 400px;        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__descr {       
        max-width: 460px;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 2.65em;
        font-weight: 600;
    }

    &__txt {
        margin-bottom: 25px;
        font-size: 1.13em;
    }
}

.main-catalog {
    padding-bottom: 45px;
    background-color: #e8e8e8;
}

// .grid {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(3, 1fr);
//     grid-gap: 50px 60px;
    

//     &__item {
//         display: block;
//         width: 100%;
//         height: 200px;
//         

//         &--big {
//             grid-column: 1 / span 2;
//         }

//         &--height {           
           
//         }
//     }
// }

.grid {

    
    &__sizer {
       width: 23%;
    }

    &__gutter {
        width: 2%;
    }

    &__item {
        display: block;
        padding: 25px 30px; 
        width: 23%;       
        height: 205px;
        float: left;
        margin-bottom: 25px;        
        background-color: #fa7e19;
        color: #fff;        
        text-transform: uppercase; 
        border: 1px solid #ccc;        

        &--big {
            width: 47%;            
        }

        &--height {
            height: 300px;
        }
    }

    &__title {
        font-size: 1.25em;
        line-height: 1.2;
        font-weight: 400;

        span {
            display: block;
            font-size: 0.75em;
        }
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}


.main-products {
    padding: 70px 0 40px 0;    
    background-color: #fff;
    border-top: 1px solid #d2d2d2;

    .title {
        justify-content: center;
        margin-bottom: 3%;

        &__link {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -10px;
        }
    }
}

.items-carousel {
    margin-bottom: 2%;
    display: flex;

    &__item {
        padding: 0 20px;  
        width: 295px;
        max-width: 295px;      
    }

    &__wrapper {
        padding: 0 5px 35px 5px;
        transition: background-color 0.2s;        

        &:hover {
            background-color: #f0f0f0;

            img {
                transform: scale(1.03);
            }
        }
    }

    &__link {
        min-height: 315px;
        display: flex;
        flex-direction: column;
        color: #333333;
        align-items: center;

        img {
            margin-top: auto;
            transition: transform 0.2s;
        }
    }

    &__title {
        margin-top: auto;
        font-size: 14px;
        font-weight: 400;
        text-align: center;

        span {
            display: block;
            font-weight: 600;
        }
    }
}

.advantages {
    padding: 50px 0 20px 0;
    background-color: #f0f0f0;
    border-top: 1px solid #d2d2d2;

    &__wrapper {
        display: flex;
    }

    &__link {
        position: relative;
        display: block;
        flex: 1;
        min-height: 160px;
        font-size: 1.1em;
        //font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-position: center;        
        transition: all 0.2s;

        &--partner {
            background-image: url(../img/partners.jpg);
        }

        &--service {
            background-image: url(../img/service.jpg);
        }

        &--soft {
            background-image: url(../img/soft.jpg);
        }

        span {
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -20px;
            max-width: 150px;
        }

        &:hover {         
            opacity: 0.8;
        }
    }
}

.news {
    padding: 20px 0 25px 0;
    background-color: #f0f0f0;

    .title {
        padding-left: 35px;
        padding-right: 25px;
        margin-bottom: 2%;
        
        &__link {
            margin-left: auto;
        }
    }

    &__wrapper {
        padding-top: 30px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
    }

    &__list {
        display: flex;
    }

    &__item {
        max-width: 350px;
        flex: 1;        
        border-top: 1px solid #bfbfbf;
        
        &:last-child {
            .news__txt {
                border-right: 0;
            }
        }
    }

    &__link {
        display: block;
        color: #333333;        

        &:hover {

            .news__img::after {
                background-color: transparent;
            }
        }
    }

    &__txt {
        padding: 30px 25px 50px 35px;          
        border-right: 1px solid #bfbfbf;     
    }

    &__img {
        position: relative;        
        height: 150px;
        
        img {
            height: 100%;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }
    }

    &__date {
        margin-bottom: 10px;
        display: block;
        font-size: 0.75em;
        color: #acacac;
    }

    &__title {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2;
    }
}

.main-text {
    padding: 20px 0 45px 0;
    background-color: #f0f0f0;

    p {
        margin-bottom: 10px;
        font-size: 0.85em;
        line-height: 1.35;
    }
    
}

.contact-us {
    padding: 19px 19px 19px 32px;
    display: flex;
    align-items: center;    
    border: 2px solid #fa7e19;

    .btn {
        margin-left: auto;
    }

    &__txt {
       font-size: 1.1em;
       font-weight: 600; 
    }

    &__small {
        margin-left: 10%;
        font-size: 0.85em;

        a {
            color: #333333;
        }
    }

    &__list {
        display: flex; 
    }

    &__item {
        margin-left: 33px;
    }

    &__link {
        
        svg {
            transition: 0.3s;
        }

        &:hover {

            svg {
                fill: #fa7e19;
            }
        }
    }
}


/* FOOTER PART */

.footer {
    padding: 40px 0;
    background-color: #3d4248;
    border-top: 1px solid #fff;

    &__left,
    &__right {
        display: flex; 
        align-items: center;       
    }
    
}

.copyright {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 0.75em;
    line-height: 1.25;
    color: #eeeeee;
}

.social {
    margin-right: 60px;
    display: flex;

    &__item {
        margin-left: 25px;
    }

    &__link {

        svg {
            fill: #fff;
            transition: 0.3s;
        }

        &:hover {
            svg {
                fill: #fa7e19;
            }
        }
    }
}